form {
	color: #fff;
}

/*#email-form {
	display: none;
}*/

#page{
	height: 100%;
}

#navbar {
	background-color: #907a70;
	border-color: #907a70;

}
#logo {
	height: 50px;
	/*margin-top: -10pt;*/
}

#pg-map{
	height: 540pt;
}

#spacer {
	height: 30px;
}

#interaction {
	height: 540pt;
	background: linear-gradient(#d1e5e1, #5ad);
}

.input-form {
	margin-bottom: 5pt;
}

.holder {
	height: 100pt;
}

#event-list {
	background-color: #d1e5e1;
}

#event-list, li {
	border-radius: 10px;
}

